<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.pointaeclipseplugin.Application">
         </run>
      </application>
   </extension>
      <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.pointaeclipseplugin.Application">
         </run>
      </application>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.pointaeclipseplugin.view.Perspective"
            id="MikeTest.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">

      <view
            name="Mailboxes"
            allowMultiple="true"
            class="com.pointaeclipseplugin.view.ServicePickerView"
            id="MikeTest.navigationView">
      </view>
            <view
            name="Delta"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="com.pointaeclipseplugin.view.ServiceView"
            id="MikeTest.view2">
      </view>
       
            <view
            name="Delta"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="com.pointaeclipseplugin.view.ServiceView"
            id="de.vogella.jface.tableviewer.view">
      </view>
      
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="MikeTest.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="MikeTest.category"
            id="MikeTest.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="MikeTest.category"
            id="MikeTest.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="MikeTest.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+O">
      </key>
      <key
            commandId="MikeTest.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+M">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+Q">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="MikeTest.application"
            name="PointA">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/ic_launcher.png">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/MikeTest/style.css">
         </property>
      </product>
   </extension>

</plugin>
